/* Global Styles */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

#wrapper {
  width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
  background-color: #F8F8FB;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 100px;
}

header {
  background-color: #fff;
  text-align: start;
}

.Espacio1 {
  width: 48px;
  height: 48px;
}

.titulo {
  background-color: #2E7D32;
  color: #ffffffdf;
  padding: 0px 16px 0px 16px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 8px;
}

h1 {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.T {
  width: 262px;
  height: 26px;
  text-align: center;
}

#menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 0px;
  border-bottom: 1px solid #ddd;
}

#menu-icon {
  cursor: pointer;
  font-size: 24px;
}

.Menú {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  width: 100%; /* ajusta el ancho según sea necesario */
  justify-content: center;
  color: #ffffff00;
}

.Buscador {
  width: 100%;
  height: 36px;
  border-radius: 12px 12px;
  background-color: #EDEDED;
  padding: 7px 12px 7px 12px;
  gap: 8px;
  justify-content: center;
  display: flex;
}

.search-bar input[type="search"] {
  border: none;
  background-color: #ffffff00;
  width: 278px;
  font-size: 14px;
  font-family: poppins;
  line-height: 22px;
  
}

.search-bar input[type="search"]:focus {
  border: none;
  box-shadow: none;
  outline: none; /* Esto para quitar el borde */
}

.search-bar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 40%;
  background-color: #ccc; /* cambia el color del icono de "X" a gris claro */
  cursor: pointer;
}

.search-bar i {
  margin: 0px;
  color: #999999;
}

.search-bar .fa-search::before {
  width: 20px;
  height: 20px;
  font-size: 20px;

}

.search-bar .fa-microphone::before {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

/* Secciones */
h2.Secciones {
  font-size: 22px;
  margin-bottom: 0px;
  width: 100%;
  padding: 24px 16px 8px 16px;
  font-weight: bold;
  line-height: 28px;
}

.destacados {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

.text-container{
  background-color: #fff;
  padding: 16px;
  width: 100%;
  height: 78px;
  border-radius: 0 0 8px 8px;
}

.product {
  flex: 0 0 auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border: 0px solid #ddd;
  margin-bottom: 0px;
  box-sizing: border-box;
  width: 240px; /* ajusta el ancho de cada item */
  box-shadow: rgba(0, 0, 0, 0.700) 0px 3px 10px -3px;
  border-radius: 8px;
}

.product img {
  width: 240px;
  height: 180.3px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  object-fit: cover;
}

.product h3 {
  font-size: 16px;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
  font-weight: 500;
  line-height: 22px;
}

.product .rating {
  font-size: 12px;
  color: #6e6f76;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
  font-weight: 400;
  line-height: 20px;
}

/* Sección Nuevos */
.Nuevos {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Frutas */
.Frutas {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Vegetales */
.Vegetales {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Tubérculos */
.Tubérculos {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Lácteos */
.Lácteos {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Carnes */
.Carnes {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Huevos */
.Huevos {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Granos y Legumbres */
.GranosL {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Sección Otros Productos */
.Otros {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 12px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 59px;
  background-color: rgba(255, 255, 255, 0.650); /* opacidad baja */
  backdrop-filter: blur(10px); /* efecto de borrosidad */
  z-index: 1000;
  padding: 0px;
  text-align: center;
  clear: both;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 12px;
}

.Footer i {
  position: relative;
  top: -4px;
  margin-top: 4px;
  display: block;
  font-size: 30px; 
  color: #6E6F76; /* gris */
}

.Footer.active {
  font-weight: 500;
}

.Footer.active a {
  color: #388E3C; /* verde */
}

.Footer.active i {
  color: #388E3C !important; /* verde */
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer div a {
  color: #6E6F76;
  text-decoration: none;
}

footer div a:hover {
  color: #ccc;
}

.Footer {
  padding: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #6e6f76;
}

/* Oculta la barra de desplazamiento horizontal */

.destacados::-webkit-scrollbar {
  display: none;
}

.Nuevos::-webkit-scrollbar {
  display: none;
}

.Frutas::-webkit-scrollbar{
  display: none;
}

.Vegetales::-webkit-scrollbar{
  display: none;
}

.Tubérculos::-webkit-scrollbar{
  display: none;
}

.Lácteos::-webkit-scrollbar{
  display: none;
}

.Carnes::-webkit-scrollbar{
  display: none;
}

.Huevos::-webkit-scrollbar{
  display: none;
}

.GranosL::-webkit-scrollbar{
  display: none;
}

.Otros::-webkit-scrollbar{
  display: none;
}

footer::-webkit-scrollbar {
  display: none; /* oculta la barra de desplazamiento horizontal en navegadores basados en WebKit (Chrome, Safari, etc.) */
}

footer {
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  table,
  p,
  img {
    padding-right: 1em;
    width: 100%;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
